@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
   --bg-main: #282A36;
   --bg-sidebar: #21222c;
   --texto-main: #f8f8f2d7;
   --destaque: #bd93f9;
   --status: #50fa7b;
   --titulos: #ff79c6;
   --coment-cod: #f1fa8c;
   --btn-links: #007acc;
   --fonte-texto: "JetBrains Mono", monospace;
   --fonte-titulo: "Montserrat", sans-serif;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   flex-direction: column;
   background-color: var(--bg-main);
   color: var(--texto-main);
   font-family: var(--fonte-texto);
   min-height: 100vh;
}

h1,
h2 {
   font-family: var(--fonte-titulo);
}

.top-bar {
   background-color: var(--bg-sidebar);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 9px 15px;
   border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.menu-desktop {
   display: none;
}

.btn-icone,
.menu-mobile {
   background: none;
   border: none;
   color: var(--texto-main);
   font-size: 0.8em;
   cursor: pointer;
}

.aba-ativa-mobile {
   font-size: 0.9em;
   opacity: 0.9;
}

.vscode-container {
   flex: 1;
   display: flex;
   overflow: hidden;
}

.tag-codigo {
   color: var(--titulos)
}

.activity-bar,
.sidebar {
   display: none;
}

/* EDITOR - CONTEUDO PRINCIPAL */
.editor {
   flex: 1;
   padding: 20px;
   overflow-y: auto;
}

.titulo-sessao {
   color: var(--texto-main);
   font-size: 1.4em;
   margin: 10px 0;
}

.comentario {
   color: var(--coment-cod);
   font-size: 1.1em;
}

/* CARDS DE PROJETO*/
.grid-projetos {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.card-projeto {
   background-color: var(--bg-sidebar);
   border: 1px solid rgba(255, 255, 255, 0.05);
   border-radius: 6px;
   padding: 20px;
}

h2 {
   font-size: 1.6em;
}

.tags-card {
   font-size: 0.8em;
   letter-spacing: 1px;
   margin: 10px 0;
}

.tag-destaque {
   color: var(--titulos);
}

.tecnologias-card {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 15px;
}

.descricao-card {
   margin-top: 10px;
   font-size: 0.92em;
}

.tech-badge {
   border: 1px solid rgba(255, 255, 255, 0.2);
   padding: 5px 10px;
   border-radius: 4px;
   font-size: 0.75em;
   opacity: 0.9;
   color: var(--texto-main);
}

/* NOME E APRESENTAÇAO */
.titulo-hero {
   color: #fff;
   font-size: 1.9em;
   margin: 20px 0;
   text-transform: uppercase;
}

.hero-badges {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 30px;
}


.verde::before {
   content: "● ";
   color: var(--status);
}

.roxo::before {
   content: "● ";
   color: var(--destaque);
}

.azul::before {
   content: "● ";
   color: #8be9fd;
}

.texto-apresentacao {
   font-size: 1em;
   line-height: 1.7;
   max-width: 700px;
   color: var(--texto-main);
   margin-bottom: 20px;
}

.destaque-azul {
   color: #8be9fd;
}

.destaque-roxo {
   color: var(--destaque)
}

.destaque-verde {
   color: var(--status);
}
/* BOTOES DE AÇAO */

.botoes-acao {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   margin-bottom: 40px;
}

.btn-acao {
   text-decoration: none;
   padding: 8px 16px;
   border-radius: 4px;
   font-size: 0.85em;
   font-weight: bold;
   transition: 0.2s ease;
   background-color: transparent;
   color: var(--btn-links);
   border: 2px solid var(--btn-links);
   cursor: pointer;
   margin-top: 25px;
}

.btn-acao:hover {
   background-color: var(--btn-links);
   color: var(--texto-main);
}

/*GRID DE ESTATISTICAS*/


/* RODAPE */
.status-bar {
   background-color: var(--destaque);
   color: var(--bg-main);
   display: flex;
   justify-content: space-between;
   padding: 5px 16px;
   font-size: 0.75em;
   font-weight: 600;
}

/* DESKTOP*/
@media (min-width: 768px) {

   .menu-mobile,
   .aba-ativa-mobile {
      display: none;
   }

   .top-bar {
      padding: 4px 10px;
   }

   .menu-desktop {
      display: flex;
      gap: 2px;
   }

   .menu-desktop a {
      text-decoration: none;
      font-size: 0.82em;
      color: var(--texto-main);
      padding: 5px 8px;

   }

   .menu-desktop a:hover {
      background-color: var(--bg-main);
      border-radius: 4px;
   }

   .activity-bar {
      display: flex;
      flex-direction: column;
      width: 50px;
      background-color: var(--bg-main);
      border-right: 2px solid rgba(255, 255, 255, 0.1);
   }

   .side-bar {
      display: block;
      width: 250px;
      background-color: var(--bg-sidebar);
   }

   .grid-projetos {
      flex-direction: row;
      flex-wrap: wrap;
   }

   .card-projeto {
      flex: 1 1 calc(50% - 20px);
   }

   
   .editor-tabs {
      display: flex;
      background-color: var(--bg-sidebar);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin: -20px -20px 20px;
      overflow-x: auto;

   }

   .tab {
      padding: 10px 20px;
      font-size: 0.83em;
      color: var(--texto-main);
      opacity: 0.7;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      white-space: nowrap;
   }

   .tab-ativa {
      opacity: 1;
      background-color: var(--bg-main);
      border-top: 1px solid var(--titulos);
   }

   /* NOME E APRESENTAÇAO */
   .titulo-hero {
      font-size: 2.5em;
   }

   .hero-badges span:hover {
      background-color: #2e303884;
      opacity: 0.92;
      border-color: #ffffff46;
   }
}