@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
   --bg-main: #282A36;
   --bg-sidebar: #21222c;
   --texto-main: #f8f8f2d7;
   --destaque: #bd93f9;
   --status: #50fa7b;
   --titulos: #ff79c6;
   --coment-cod: #f1fa8c;
   --fonte-texto: "JetBrains Mono", monospace;
   --fonte-titulo: "Montserrat", sans-serif;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   flex-direction: column;
   background-color: var(--bg-main);
   color: var(--texto-main);
   font-family: var(--fonte-texto);
   min-height: 100vh;
}

h1,
h2 {
   font-family: var(--fonte-titulo);
}

.top-bar {
   background-color: var(--bg-sidebar);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-desktop {
   display: none;
}

.btn-icone,
.menu-mobile {
   background: none;
   border: none;
   color: var(--texto-main);
   font-size: 1.1em;
   cursor: pointer;
}

.aba-ativa-mobile {
   font-size: 0.9em;
   opacity: 0.9;
}

.vscode-container {
   flex: 1;
   display: flex;
   overflow: hidden;
}

.activity-bar,
.sidebar {
   display: none;
}

/* EDITOR - CONTEUDO PRINCIPAL */
.editor {
   flex: 1;
   padding: 20px;
   overflow-y: auto;
}

.titulo-sessao {
   color: var(--texto-main);
   font-size: 1.9em;
   margin: 10px 0;
}

.comentario {
   color: var(--coment-cod);
   font-size: 0.94em;
   margin-bottom: 20px;
}

/* CARDS DE PROJETO*/
.grid-projetos {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.card-projeto {
   background-color: var(--bg-sidebar);
   border: 1px solid rgba(255, 255, 255, 0.05);
   border-radius: 6px;
   padding: 20px;
}

h2 {
   font-size: 1.6em;
}

.tags-card {
   font-size: 0.8em;
   letter-spacing: 1px;
   margin: 10px 0;
}

.tag-destaque {
   color: var(--titulos);
}

.tecnologias-card {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 15px;
}

.tech-badge {
   border: 1px solid rgba(255, 255, 255, 0.2);
   padding: 5px 10px;
   border-radius: 4px;
   font-size: 0.8em;
   opacity: 0.9;
   color: var(--texto-main);
}

/* RODAPE */
.status-bar {
   background-color: var(--destaque);
   color: var(--bg-main);
   display: flex;
   justify-content: space-between;
   padding: 5px 16px;
   font-size: 0.75em;
   font-weight: 600;
}